body {
  font-family: 'Crimson Text', 'Georgia', serif;
  color: black;
  background-color: none;
  font-variant-numeric: oldstyle-nums;
}

a {}

h1 {
  font-size: 2.5em;  
}

h2 {
  font-size: 1.500em;
  color: black;
}

#intro {
  margin: 18px 0px 0px 50px;
  line-height: 3.5em;
}

#old_fashioned_recipe {
  margin: 70px 0 20px 80px;
}

.recipe_title {
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px dotted black;
  padding-bottom: 0.4em;
}

.ingredients {
  font-size: 1.2em;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  padding-top: 0.2em;
}


.top_rule {
  border-top: 1.5px dotted black;
  padding: 2px 0px;
  margin: 0px 50px;
}

#name {
  color: #FF3300;
}

.cocktail_pic {
  margin: 25px 0 0 80px;
}

.body_of_recipe {
  font-size: 1.2em;
  font-weight: 400;
}

.number {
  font-family: 'Georgia', 'Crimson Text', serif; 
  font-size: 0.8em;
}








