.container {
  width: 80%;
  margin: 0 auto;
}

body {
    font-family: 'Crimson Text', 'Georgia', serif;
}

.matrix {
  margin-top: 34px;
}

/*fade on liquor hover effect*/

.fade {
  opacity:0.3;
}

.unfade {
  opacity:1.0 !important;
}

.changer {
  transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
}

.title,
img {
  display: block;
  margin: auto;
  text-transform: uppercase;
  font-weight:700;
  font-size: 0.85em;
  letter-spacing: 0.05em;

}

.rule {
  display: block;
  border-top: 3px solid #000;
}

.title {
  text-align: center;
  margin-top: 4%;
}

.top {
  margin-top: 1%;
}

/*.heading {
  position: fixed;
  top: 0;
  width: 80%;
  clear: both;
}*/

/*.heading h3 {
  text-transform: uppercase;
  text-align: center;
}*/


.nav,
.box {
  display: inline-block;
  width: 24.5%;
}

.nav p {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', Impact, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  position: fixed;
  width: 20%;
  top: 0;
  border-bottom: 2px solid #000;
  padding: 1em 0 1em 0;
  background-color: #fff;
  -webkit-margin-before: 0;
  z-index: 1;
}

.box {
  border-right: 1px solid #95a5a6;
  margin: 10px 0;
}

.outer {
  border-right: none;
}


/*RECIPE*/

.hidden {
  display: none;
}

.column {
  margin: 0 20px 10px 0;
  float: left;
  display: block;
}

.recipe {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  position: absolute;
  opacity: 0.97;
  background-color: #fff;
  right: -10%;
}

.ex {
  position: absolute;
  right: 12%;  
}


.cocktail_pic {
  display: inline-block;
  width: 55%;
}

.full_recipe {
  display: inline-block;
  width: 25%;
}

.recipe_title {
  font-family: 'Oswald', Impact, sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px dotted black;
  padding-bottom: 0.4em;
}

.ingredients {
  font-size: 1.2em;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  padding-top: 0.2em;
}


.body_of_recipe {
  font-size: 1.2em;
  font-weight: 400;
}

.number {
  font-family: 'Georgia', 'Crimson Text', serif; 
  font-size: 0.8em;
}

.list_of_ingredients {
  list-style: none;
}
