body {
  font-family: 'Crimson Text', 'Georgia', serif;
  color: black;
  background-color: none;
}

a {
  color: #4FB69F;
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  
}

h2 {
  font-size: 1.500em;
  color: black;
}

#intro {
  margin: 50px 0px 75px 50px;
  line-height: 3.5em;
}

#old_fashioned_recipe {
  margin: 0 0 20px 0;
}

#recipe_title {
  
}

.ingredients {
  font-size: 0.8em;
  font-weight: 400;
  font-style: italic;
}


.top_rule {
  border-top: 1px solid black;
  padding: 10px 0px;
  margin: 15px 0px;

}

#name {
  color: red;
}

.cocktail_pic {
  margin-left: 40px;
}











