<!DOCTYPE HTML>
<html ng-app="cocktailGrid">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Julia Himmel wants you to have a drink</title>
  <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="js/application.js"></script>
</head>
<body ng-controller="GridController">
<div class="container">

  <div class="recipe" ng-show="recipe == true">
    <img alt="x" src="img/x.png" class="ex" ng-click="recipe = false">
    <div class="cocktail_pic column">
      <img ng-src="{{img[1]}}" alt="Cocktail full-size">
    </div>
    <div class="full_recipe column">
        <h2 class="recipe_title">{{ name }}</h2>
        <p class="ingredients">Ingredients</p>
        <div class="body_of_recipe">
          <ul class="list_of_ingredients">
            <li ng-repeat="ingredient in ingredients">&middot; {{ingredient}}</li>
<!--             <li>&middot;  <span class="number">1</span> sugar cube</li>
            <li>&middot;  <span class="number">3</span> dashes Angostura bitters</li>
            <li>&middot;  <span class="number">2</span> ounces rye whisky</li>
            <li>&middot;  club soda</li> -->
          </ul>
          <p id="instructions" >{{instructions}}</p>
        </div>
    </div>
  </div>

  <div class="quote">
    <h3 class="quote_body">&ldquo;After much pondering I think I understand a basic reason why a glass of something reviving is so welcome in the early evening. Partly, of course, it&rsquo;s just that, to revive, to relax; but it&rsquo;s also a convenient way of becoming a different person from your daytime self, less methodical, less calculating&#8212;however you put it, somebody different, and the prospect of that has helped to make the day tolerable.&rdquo;</h3>
    <h2 class="author">&#8212;Kingsley Amis</h2>
  </div>

  <div class="rule"></div>


  <div class="matrix">

    <div class="nav ginchooser" ng-click="clickHere()" ng-class="{ 'ginselect': active == true }" >
      <p>gin</p>
    </div>

    <div class="nav whiskychooser" ng-click="clickHere()" ng-class="{ 'whiskyselect': active == true }">
      <p>whisky</p>
    </div>

    <div class="nav rumchooser" ng-click="clickHere()" ng-class="{ 'rumselect': active == true }">
      <p>rum</p>
    </div>

    <div class="nav brandychooser" ng-click="clickHere()" ng-class="{ 'brandyselect': active == true }">
      <p>brandy</p>
    </div>

    <div class="rule"></div>

    <div class="box changer fade {{item.liquor}}" ng-repeat="item in items | range:0:3" ng-class="{'outer': $last}" ng-click="recipeShow(item)">
      <img ng-src="{{item.img[0]}}">
      <p class="title">{{ item.name }}<p>
    </div>

    <div class="rule fade"></div>

    <div class="box changer fade {{item.liquor}}" ng-repeat="item in items | range:4:7" ng-class="{'outer': $last}">
      <img src="{{ item.img }}">
      <p class="title">{{ item.name }}<p>
    </div>

    <div class="rule fade"></div>

    <div class="box changer fade {{item.liquor}}" ng-repeat="item in items | range:8:11" ng-class="{'outer': $last}">
      <img src="{{ item.img }}">
      <p class="title">{{ item.name }}<p>
    </div>

    <div class="rule fade"></div>

  </div>

</div>
</body>
</html>
